<div class="row card-deck">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let car of cars">
    <div class="card text-center">
      <div class="card-header">
        <h4>{{car.make}}-{{car.model}}</h4>
      </div>
      <div class="card-body">
        <a href="#"><img class="card-img-top" src="" alt=""></a>
        <h5 class="card-title">Available Since: {{car.date_added}}</h5>
        <h3 class="card-title">${{car.price}}</h3>
        <div class="row">
          <div class="col-12" >
            <button (click)="pullCarDetail(car)" [hidden]="car.inCart === 'true'" class="btn btn-primary" [disabled]="car.licensed === 'true'">Show Detail
            </button>
          </div>
          <div class="col-12">
            <button class="btn btn-secondary" [hidden]="car.inCart === 'false'">Sold out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
